body {
  color: #555;
  /*font-size: 12px;*/
  background-color: cornsilk;
  font-family: Raleway, rial, sans-serif;
  font-size: 1.5em;
}
.justify {
  text-align: justify;
}
.mynav {
  margin: 0 0 0;
  padding: 0 10px;
  /*border: 1px solid red;*/
  height: 5px;
  font-size: 20px;
}
.links > a {
  color: #636b6f;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.petit.links > a {
  font-style: italic;
  font-size: 20px;
  text-transform: none;
}
.noDeco {
  list-style: none;
  padding: 7px 20px;
}
a {
  cursor: pointer;
}
